@model IEnumerable<PioneerTechSystem.Models.Employee>

@{
    ViewBag.Title = "Employee List";
}

<h2>Employee Details</h2>

    
    @Html.ActionLink("Add New Employee", "Create")<br/>


    @Html.ActionLink("View/Edit Existing Employee", "EditEmployee")

