@{
    ViewBag.Title = "About";
}
<h2>About Us</h2>

<p>
    Pioneer Technologies provides consulting and IT services for delivering independent, practical, value-priced advice and services to our chosen market sectors. At Pioneer Technologies, our aim is to make a positive impact on our client's business through the use of business acumen and technical savvy. We have an enviable reputation for we passionately believe that real change only comes about through a combination of the right ideas and effective implementation. We combine strong creative, analytical and practical skills with innovative tools and techniques. We quickly determine what organizations need to do in order to change, ensure that this is properly communicated, and then work with our clients to make it happen.
</p>
