@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us.</h2>


<address>
    <br />
    Corporate Headquarters <br />

    1111 Corporate Drive, Suite ###  <br />
    Irving, Texas 00000 <br />
    Phone:972-111-**** <br />
    Fax: 972-111-**** <br />

    For general information, please email us at
    <br /><br />Copyright (c) All rights reserved.
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:info@pioneertechinc.com">info@pioneertechinc.com</a><br />
</address>