@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Welcome to Pioneer Technologies!</h1>
    <p class="lead">Pioneer Technologies provides consulting and IT services for delivering independent, practical, value-priced advice and services to our chosen market sectors. At Pioneer Technologies, our aim is to make a positive impact on our client's business through the use of business acumen and technical savvy. We have an enviable reputation for we passionately believe that real change only comes about through a combination of the right ideas and effective implementation.
    
    </p>    
    <p class="lead"> Pioneer Technologies provides consulting and IT services for delivering independent, practical, value-priced advice and services to our chosen market sectors. At Pioneer Technologies, our aim is to make a positive impact on our client's business through the use of business acumen and technical savvy. We have an enviable reputation for we passionately believe that real change only comes about through a combination of the right ideas and effective implementation.</p>
</div>
